<!doctype html>
<html>
  <head>
    <title>Dsitu Lab</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="static/img/favicon.png" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/chat.css" />
  </head>
  <body>
    <div id="root">
     <modal v-if="!isValidAppUrl()" @close="val => { setAppUrl(val) }"></modal>
     <div id="app">
       <div id="header">
         <div id="header-left">
         </div>
         <div id="header-right">
           <div class="dropdown">
             <button class="dropdown-toggle" type="button">Platforms
              <span class="dropdown-caret">
              </span>
             </button>
             <ul class="dropdown-menu">
               <li>
                <input type="checkbox" v-model="showing_iphone" v-on:change="devicesChanged()" id="device-iphone">
                <label for="device-iphone">iPhone
                </label>
               </li>
               <li>
                <input type="checkbox" v-model="showing_android" v-on:change="devicesChanged()" id="device-android">
                <label for="device-android">Android
                </label>
               </li>
               <li>
                <input type="checkbox" v-model="showing_windows" v-on:change="devicesChanged()" id="device-windows">
                <label for="device-windows">Windows
                </label>
               </li>
             </ul>
           </div>
         </div>
       </div>
       <preview>
        <div class="phone" v-bind:style="{ display: showing_iphone ? '' : 'none' }" id="iphone">
          <div class="phone-frame">
            <h2>
             <div class="phone-icon">
             </div>
             <a v-bind:href="getAppUrl('iphone')" target="_blank">iOS
             </a>
            </h2>
            <div id="iphone-frame" class="phone-frame-wrap">
              <div class="statusbar">
              </div>
              <iframe v-bind:src="getAppUrl('iphone')" class="frame">
              </iframe>
            </div>
          </div>
        </div>
        <div class="phone" v-bind:style="{ display: showing_android ? '' : 'none' }" id="android">
          <div class="phone-frame">
            <h2>
             <div class="phone-icon">
             </div>
             <a v-bind:href="getAppUrl('android')" target="_blank">Android
             </a>
            </h2>
            <div id="android-frame" class="phone-frame-wrap">
              <div class="statusbar">
              </div>
              <iframe v-bind:src="getAppUrl('android')" class="frame">
              </iframe>
            </div>
          </div>
        </div>

        <div class="phone" v-bind:style="{ display: showing_windows ? '' : 'none' }" id="windows">
          <div class="phone-frame">
            <h2>
             <div class="phone-icon">
             </div>
             <a v-bind:href="getAppUrl('windows')" target="_blank">Windows
             </a>
            </h2>
            <div id="windows-frame" class="phone-frame-wrap">
              <div class="statusbar">
              </div>
              <iframe v-bind:src="getAppUrl('windows')" class="frame">
              </iframe>
            </div>
          </div>
        </div>
       </preview>
       <div id="footer">
         <div id="footer-left">
           <span id="app-info"></span>
         </div>
         <div id="footer-right">
           <a target="_blank" href="https://github.com/dsitucom">GitHub</a>
           <a target="_blank" class="view-link" href="http://dsitu.com">Ionic View</a>
         </div>
       </div>
     </div>
    </div><!-- end: #root -->
    <!-- template for the modal component -->
    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-header">
                <slot name="header">
                </slot>
              </div>

              <div class="modal-body">
                <slot name="body">
                 <p>Provide your app address
                 </p>
                 <input v-model="app_url" placeholder="http://your.app.address">
                </slot>
              </div>

              <div class="modal-footer">
                <slot name="footer">
                  <button class="modal-default-button" @click="$emit('close', app_url)">OK
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>

    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="static/js/app.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="static/js/chat.js"></script>
    <div id="live-chat">
    		<header class="clearfix">
    			<a href="#" class="chat-close">x</a>
    			<h4>Dsitu Customer Service</h4>
    			<span class="chat-message-counter">1</span>
    		</header>
    		<div class="chat" style="display:none;">
       <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FDSITU-Global-1380426328718334%2F&tabs=messages&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=216184642233176" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    		</div> <!-- end chat -->
    	</div> <!-- end live-chat -->
  </body>
</html>
